abbr[title] {
	text-decoration: none;
}

.error-page {
	margin: 10px auto;
	max-width: 600px;
	text-align: center;

	h1 {
		margin: 30px 0;
		font-size: 4em;
		line-height: 1;
		letter-spacing: -1px;
	}
}

.side-bar .site-title {
	font-variant: all-small-caps;
}

.site-footer {
	display: none;
}

iframe {
	width: 100%;
	border: none;
}

.improve {
	margin-top: 3em;
}

.improve .btn-quiet {
	box-shadow: none;
}
