<script type="text/javascript">
	const infoLabel = "{{ site.data.translations.cgus.datatables.info[page.lang] }}";
</script>
<div class="chart">
	<div class="chart_content" id="cguschart"></div>
	<div class="chart_legend">
		Laborum proident ea voluptate excepteur incididunt est deserunt. Dolore excepteur anim nostrud esse sint deserunt aute. Aute consequat quis dolor cillum qui ut exercitation. Incididunt id ad reprehenderit esse. Eu in est mollit sit laborum cupidatat pariatur commodo. Irure deserunt velit ut irure nulla incididunt enim culpa excepteur.
	</div>
</div>