<table>
	<thead>
		<tr>
			<th>{{ site.data.translations.cgus.tablelegend.col1-label[page.lang] }}</th>
			<th>{{ site.data.translations.cgus.tablelegend.col2-label[page.lang] }}</th>
			<th>{{ site.data.translations.cgus.tablelegend.col3-label[page.lang] }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>100.00–90</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-90-100-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-90-100-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>90.0–80.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-90-80-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-90-80-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>80.0–70.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-80-70-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-80-70-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>70.0–60.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-70-60-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-70-60-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>60.0–50.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-60-50-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-60-50-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>50.0–30.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-50-30-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-50-30-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>30.0–10.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-30-10-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-30-10-desc[page.lang] }}</td>
		</tr>
		<tr>
			<td>10.0–0.0</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-10-0-label[page.lang] }}</td>
			<td>{{ site.data.translations.cgus.tablelegend.score-10-0-desc[page.lang] }}</td>
		</tr>
	</tbody>
</table>