<table class="datatables datatables-cgus table-isresponsive" id="tableStatsByType">
	<thead>
		<tr>
			<th>{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}</th>
			<th>{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}</th>
			<th>{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}</th>
			<th>{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}</th>
			<th>{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Terms of Service</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">151</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">5517.43</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">3480.61</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">35.18</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Brand Guidelines</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">2</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">1355</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">55.15</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">50.80</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Commercial Terms</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">4</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">11414.25</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">12904.74</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">48.83</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Trackers Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">12</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">1888.08</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">1956.62</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">47.62</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Privacy Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">138</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">5515.413043</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">3673.41</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">35.91</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Copyright Claims Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">6</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">1554.83</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">882.57</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">45.82</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Quality Guidelines</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">2</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">1114.5</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">556.49</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">43.72</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">In-App Purchases Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">1</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">2509</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">-</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">42.28</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Vulnerability Disclosure Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">2</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">5406</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">6276.27</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">41.18</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Community Guidelines</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">6</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">2082.16</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">1598.63</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">40.81</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Developer Terms</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">11</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">4600.81</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">2925.31</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">39.43</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Review Guidelines</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">2</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">17333</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">4596.19</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">38.74</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Closed Captioning Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">1</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">191</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">-</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">36.95</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Parent Organization Privacy Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">4</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">7352</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">3318</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">36.16</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Live Policy</td> 
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">2</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">261.5</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">14.84</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">36.06</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Law Enforcement Guidelines</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">3</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">2274.33</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">1019.08</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">33</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">User Consent Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">4</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">330</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">0</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">33</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Human Rights Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">1</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">1495</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">-</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">30</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Restricted Use Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">1</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">996</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">-</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">25.98</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Data Controller Agreement</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">4</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">3380.75</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">491</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">25.85</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Parent Organization Terms</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">1</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">4872</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">-</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">21.14</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Data Processor Agreement</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">4</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">5577.75</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">2934.12</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">14.66</td>
		</tr>
		<tr>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col1-label[page.lang] }}">Acceptable Use Policy</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col2-label[page.lang] }}">5</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col3-label[page.lang] }}">2185.8</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col4-label[page.lang] }}">1017.86</td>
			<td data-label="{{ site.data.translations.open-document-archive.tablestatsbytype.col5-label[page.lang] }}">7.64</td>
		</tr>
	</tbody>
</table>