<section class="casestudies">
	<div class="casestudies_content">
		<div class="casestudies_intro">
			<h2 class="casestudies_title">{{ include.title }}</h2>
			<div class="casestudies_subtitle chapo">{{ include.subtitle }}</div>
		</div>
		<div class="casestudies_items">
			{% if page.lang == "fr" %}
			<article class="casestudies_item">
				<img class="casestudies_item_img" src="../../assets/img/casestudies/cambrige.jpg" alt="">
				<div class="casestudies_item_info">
					<h3 class="casestudies_item_title">Scandale Cambridge Analytica</h3>
					<div class="casestudies_item_desc">L’entreprise Cambridge Analytica récupère les données personnelles de 87 millions de personnes en se faisant passer pour une équipe de chercheurs, et mène une campagne micro-ciblée sur Facebook pour le candidat Trump, où chaque personne peut voir un message légèrement différent. En parallèle, près de 100 000 dollars de publicité ciblée ont été achetés depuis la Russie, et des milliers de bots et de faux comptes amplifient de fausses informations.</div>
					<a class="casestudies_item_link" href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Lire l'étude de cas</a>
				</div>
			</article>
			<article class="casestudies_item">
				<img class="casestudies_item_img" src="../../assets/img/casestudies/rohingya.jpg" alt="">
				<div class="casestudies_item_info">
					<h3 class="casestudies_item_title">The Rohingya Crisis</h3>
					<div class="casestudies_item_desc">La junte militaire mène des campagnes coordonnées de manipulation des informations en utilisant des centaines de faux comptes Facebook pour inciter à la haine envers les Rohingyas et justifier ainsi leur migration forcée.</div>
					<a class="casestudies_item_link" href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Lire l'étude de cas</a>
				</div>
			</article>
			<article class="casestudies_item">
				<img class="casestudies_item_img" src="../../assets/img/casestudies/casqueblancs.jpg" alt="">
				<div class="casestudies_item_info">
					<h3 class="casestudies_item_title">Casque blancs en Syrie</h3>
					<div class="casestudies_item_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet.</div>
					<a class="casestudies_item_link" href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Lire l'étude de cas</a>
				</div>
			</article>
			{% endif %}
			{% if page.lang == "en" %}
			<article class="casestudies_item">
				<img class="casestudies_item_img" src="../../assets/img/casestudies/cambrige.jpg" alt="">
				<div class="casestudies_item_info">
					<h3 class="casestudies_item_title">Scandale Cambridge Analytica EN</h3>
					<div class="casestudies_item_desc">L’entreprise Cambridge Analytica récupère les données personnelles de 87 millions de personnes en se faisant passer pour une équipe de chercheurs, et mène une campagne micro-ciblée sur Facebook pour le candidat Trump, où chaque personne peut voir un message légèrement différent. En parallèle, près de 100 000 dollars de publicité ciblée ont été achetés depuis la Russie, et des milliers de bots et de faux comptes amplifient de fausses informations.</div>
					<a class="casestudies_item_link" href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Lire l'étude de cas</a>
				</div>
			</article>
			<article class="casestudies_item">
				<img class="casestudies_item_img" src="../../assets/img/casestudies/rohingya.jpg" alt="">
				<div class="casestudies_item_info">
					<h3 class="casestudies_item_title">The Rohingya Crisis EN</h3>
					<div class="casestudies_item_desc">La junte militaire mène des campagnes coordonnées de manipulation des informations en utilisant des centaines de faux comptes Facebook pour inciter à la haine envers les Rohingyas et justifier ainsi leur migration forcée.</div>
					<a class="casestudies_item_link" href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Lire l'étude de cas</a>
				</div>
			</article>
			<article class="casestudies_item">
				<img class="casestudies_item_img" src="../../assets/img/casestudies/casqueblancs.jpg" alt="">
				<div class="casestudies_item_info">
					<h3 class="casestudies_item_title">Casque blancs en Syrie EN</h3>
					<div class="casestudies_item_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet.</div>
					<a class="casestudies_item_link" href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Lire l'étude de cas</a>
				</div>
			</article>
			{% endif %}
		</div>
		<div class="casestudies_itemsinfo">
			{% if page.lang == "fr" %}
			Etiam tempor augue vitae erat cursus, vel facilisis odio vestibulum. <a href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">Voir d’autres les études de cas</a>
			{% endif %}
			{% if page.lang == "en" %}
			Etiam tempor augue vitae erat cursus, vel facilisis odio vestibulum. <a href="https://disinfo.quaidorsay.fr/encyclopedia/introduction/examples/fr">See other case studies</a>
			{% endif %}
		</div>
		<div class="casestudies_desc">
			{% if page.lang == "fr" %}
			Les manipulations de l’information peuvent être orchestrées par des entités de différentes natures : états, entreprises, organisations, voire même des groupes informels d’individus. Elles visent à fragiliser notre cohésion sociale et nos processus démocratiques. 
			{% endif %}
			{% if page.lang == "en" %}
			Les manipulations de l’information peuvent être orchestrées par des entités de différentes natures : états, entreprises, organisations, voire même des groupes informels d’individus. Elles visent à fragiliser notre cohésion sociale et nos processus démocratiques. 
			{% endif %}
		</div>
	</div>
</section>