<div class="chart">
	<div class="chart_content" id="cguschart"></div>
	<div class="chart_legend">
		Les notes peuvent être interprétées comme indiqué dans le tableau ci-dessous.
		<table>
			<tbody><tr>
			<th>Score
			</th>
			<th>School level
			</th>
			<th>Notes
			</th></tr>
			<tr>
			<td>100.00–90.00
			</td>
			<td>5th grade
			</td>
			<td>Very easy to read. Easily understood by an average 11-year-old student.
			</td></tr>
			<tr>
			<td>90.0–80.0
			</td>
			<td>6th grade
			</td>
			<td>Easy to read. Conversational English for consumers.
			</td></tr>
			<tr>
			<td>80.0–70.0
			</td>
			<td>7th grade
			</td>
			<td>Fairly easy to read.
			</td></tr>
			<tr>
			<td>70.0–60.0
			</td>
			<td>8th &amp; 9th grade
			</td>
			<td>Plain English. Easily understood by 13- to 15-year-old students.
			</td></tr>
			<tr>
			<td>60.0–50.0
			</td>
			<td>10th to 12th grade
			</td>
			<td>Fairly difficult to read.
			</td></tr>
			<tr>
			<td>50.0–30.0
			</td>
			<td>College
			</td>
			<td>Difficult to read.
			</td></tr>
			<tr>
			<td>30.0–10.0
			</td>
			<td>College graduate
			</td>
			<td>Very difficult to read. Best understood by university graduates.
			</td></tr>
			<tr>
			<td>10.0–0.0
			</td>
			<td>Professional
			</td>
			<td>Extremely difficult to read. Best understood by university graduates.
			</td></tr></tbody></table>
	</div>
</div>