<footer class="footer">
	<div class="container has-text-centered">
	  <div class="columns">
		<div class="column is-full">
		  <a href="https://github.com/ambanum/disinformation-encyclopedia">Code source</a>
		  &nbsp;|&nbsp;
		  <a href="mailto:matti.schneider@diplomatie.gouv.fr">Contactez-nous</a>
		  &nbsp;|&nbsp;
		  <a href="/suivi-d-audience-et-vie-privee">Suivi d'audience et vie privée </a>
		  &nbsp;|&nbsp;
		  <a href="/mentions-legales">Mentions légales</a>
		</div>
	  </div>
	  <div class="columns">
		<div class="column is-full">
		  <p>Réalisé dans une optique de <strong>transparence</strong>, d’<strong>intérêt général</strong>, de <strong>collaboration</strong>, d’<strong>agilité</strong> et de <strong>bienveillance</strong><br /> par l’équipe
		  de l’Ambassadeur français pour le Numérique.</p>
		  <img class="logo-footer" src="/assets/img/logo.png" alt="">
		</div>
	  </div>
	</div>
  </footer>