<footer class="footer">
	<div class="container has-text-centered">
		<div class="columns">
			<div class="column is-full">
			<a href="https://github.com/ambanum/disinfo.quaidorsay.fr">Source Code</a>
			&nbsp;|&nbsp;
			<a href="mailto:matti.schneider@diplomatie.gouv.fr">Contact us</a>
			&nbsp;|&nbsp;
			<a href="/tracking.html">Analytics and privacy</a>
			&nbsp;|&nbsp;
			<a href="/legal-notice">Legal notice</a>
			</div>
		</div>
		<div class="columns">
			<div class="column is-full">
			<p>Made with <b>transparency</b>, <b>general interest</b>, <b>collaboration</b>, <b>agility</b> and <b>care</b> in mind <br />by the team of the French Ambassador for Digital Affairs</p>
			<img class="logo-footer" src="/assets/img/logo.png" alt="">
			</div>
		</div>
	</div>
</footer>
