<header class="header">
	<div class="header_content">
		<div class="header_logo">
			<a href="{{ site.url }}/{{ page.lang }}" class="header_logo_link">
				{% include logo_drawings.svg %}
				{% include logo_txt.svg %}
			</a>
		</div>
		<div class="header_navs">
			<nav class="header_mainnav">
				<ul class="header_mainnav_items">
					{% for navbar_item in page.navbar_items %}
						<li class="header_mainnav_item">
							{{ navbar_item | replace: '!SITE_URL!', site.url }}
						</li>
					{% endfor %}
				</ul>
			</nav>
			<nav class="header_langnav">
				<ul class="header_langnav_items">
					{% if page.lang == "fr" %}
						{% assign current_permalink_fr = page.permalink %}
						{% if page.permalink_translated %}
							{% assign current_permalink_en = page.permalink_translated %}
						{% else %}
							{% assign current_permalink_en = "/en" %}
						{% endif %}
					{% endif %}
					{% if page.lang == "en" %}
						{% assign current_permalink_en = page.permalink %}
						{% if page.permalink_translated %}
							{% assign current_permalink_fr = page.permalink_translated %}
						{% else %}
							{% assign current_permalink_fr = "/fr" %}
						{% endif %}
					{% endif %}
					{% if page.lang == "zh-Hant" %}
					        {% capture current_permalink_en %}{{ page.permalink | replace_first: "/zh-Hant", "/en" }}{% endcapture %}
						{% if page.permalink_translated %}
							{% assign current_permalink_fr = page.permalink_translated %}
						{% else %}
							{% assign current_permalink_fr = "/fr" %}
						{% endif %}
					{% endif %}
					<li class="header_langnav_item">
						<a href="{{ current_permalink_fr }}" class="header_langnav_link">
							<span>Français</span>
						</a>
					</li>
					<li class="header_langnav_item">
						<a href="{{ current_permalink_en }}" class="header_langnav_link">
							<span>English</span>
						</a>
					</li>
					<li class="header_langnav_item">
						<a href="{{ current_permalink_en | replace_first: '/en', '/zh-Hant' }}" class="header_langnav_link">
							<span>正體中文</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
