---
layout: landing
permalink: /en
htmlTitle: Reducing vulnerabilities to information manipulation.
htmlDescription: The Office of the French Ambassador for Digital Affairs builds tools to counter information manipulation aiming at disrupting social cohesion and electoral processes.
navbar_items:
  - <a href="/" class="header_mainnav_link">Home</a>
  - <a href="/encyclopedia" class="header_mainnav_link">Disencyclopedia</a>
  - <a href="#nos-actions" class="header_mainnav_link">Our actions</a>
---

{% include header.html %}

{% include hero.html title="Internet nous rapproche EN." subtitle="Les manipulations de l’information nous divisent." chapo="La diplomatie numérique française participe à réduire ces fractures." %}

{% 
  include casestudies.html 
  title="Fake news, infox, désinformation… "
  subtitle="Le sujet est rendu complexe par l'emploi de nombreux termes qui décrivent des réalités différentes. Nous privilégions celui, plus générique, de <strong>manipulations de l’information.</strong>"
%}

{% include footer.html %}