/**
 * Grid 
 */
//Cols
$gridColsNumber: 12;
$gridColWidth: 65px;

//Gutter
$gridGuttersNumber: 11;
$gridGutterWidth: 32px;

//Grid width
$gridWidth: (($gridGuttersNumber * $gridGutterWidth) + ($gridColsNumber * $gridColWidth));

/**
 * Breakpoints
 */
$bpMobile: 576px;
$bpTabletSmall: 768px;
$bpTablet: 991px;

/**
 * Colors
 */
//Blue
$color-blue:#000091;
$color-blue-hover:#2929A3;
$color-blue400:#7F7FC8;
$color-blue300:#BFBFE3;
$color-blue200:#E5E5F4;
$color-blue100:#F2F2F9;

$color-blue-soft500:#41548E;
$color-blue-soft450: #5770BE;
$color-blue-soft400: #ABB8DF;

//Gray
$color-g800:#1E1E1E;
$color-g700:#383838;
$color-g600:#6A6A6A;
$color-g500:#9C9C9C;
$color-g400:#CECECE;
$color-g300:#E7E7E7;
$color-g200:#F2F2F9;
$color-g100:#F8F8F8;

//Other
$color-white:#fff;
$color-error:#E10600;
$color-green: #008941;
$color-green-dark: #466964;
$color-green-soft: #00AC8C;
$color-pink-soft-200: #FFF4F2;
$color-green-soft-200: #E5F7F4;

/**
 * Fonts
 */
$default-font-size: 16px;
$default-line-height: 1.5;