/**
 * Grid 
 */
//Cols
$gridColsNumber: 12;
$gridColWidth: 65px;

//Gutter
$gridGuttersNumber: 11;
$gridGutterWidth: 32px;

//Grid width
$gridWidth: (($gridGuttersNumber * $gridGutterWidth) + ($gridColsNumber * $gridColWidth));

/**
 * Colors
 */
//Blue
$color-blue:#000091;
$color-blue100:#F2F2F9;
$color-blue-soft500:#41548E;
$color-blue-soft400: #ABB8DF;

//Gray
$color-g800:#1E1E1E;
$color-g700:#383838;
$color-g400:#CECECE;

//Other
$color-white:#fff;

/**
 * Fonts
 */
$default-font-size: 16px;
$default-line-height: 1.5;