
.right {
  float: right;
}

.left {
  float: left;
}

.center-image {
  margin: auto;
  display: block;
}

h2,
h3,
h4,
h5,
h6 {
  clear: both;
  overflow: hidden;
}

p {
  clear: both;
  overflow: hidden;
}

.shape-detection {
  shape-outside: polygon(
    7% 1%,
    49% 0,
    100% 18%,
    100% 39%,
    44% 100%,
    33% 100%,
    0 82%,
    1% 38%
  );
}

.shape-qualification {
  shape-outside: polygon(
    0 63%,
    0 0,
    100% 0,
    100% 100%,
    31% 100%,
    31% 89%,
    25% 83%,
    22% 77%,
    20% 68%,
    20% 63%
  );
}

.shape-reaction {
  shape-outside: polygon(
    100% 0,
    100% 100%,
    32% 100%,
    8% 93%,
    9% 55%,
    0 8%,
    0 0
  );
}

.shape-attribution {
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 0% 38%);
}

.shape-research {
  shape-outside: polygon(
    12% 19%,
    31% 21%,
    41% 0,
    100% 0,
    100% 99%,
    17% 100%,
    0 94%,
    1% 32%
  );
}

.shape-prevention {
  shape-outside: polygon(
    38% 22%,
    39% 0,
    100% 0,
    100% 70%,
    25% 99%,
    9% 100%,
    0 90%,
    1% 72%,
    6% 62%,
    6% 27%
  );
}
