h2,
h3,
h4,
h5,
h6 {
  clear: both;
  overflow: hidden;
}

p {
  clear: both;
  overflow: hidden;
}

#not-alone-illustration {
  width: 35%;
  float: right;
  margin: 0.5rem 0 0.5rem 2rem;
}

#criteria-illustration {
  width: 14%;
  float: right;
  margin: 0.25rem 0 0.5rem 1.5rem;
}

#subjectivity-illustration {
  width: 30%;
  float: right;
  margin: 0.25rem 0 0.5rem 2rem;
}

#convergence-illustration {
  width: 30%;
  float: right;
  margin-left: 0.25rem 0 0.5rem 2rem;
}

.emphasis {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #F4F4F4;
  padding: 2rem 2.5rem;
  border-radius: 2px;
  margin: 2rem 0;
}

#disinformation-illustration {
  width: 25%;
  margin-left: 2rem;
}

#detection-illustration {
  width: 50%;
  float: right;
  margin: 0.75rem 0 0.5rem 2rem;
  shape-outside: polygon(76% 4%, 79% 4%, 93% 17%, 100% 43%, 100% 100%, 83% 100%, 10% 50%, 10% 38%);
}

#qualification-illustration {
  width: 50%;
  float: right;
  margin: 0.5rem 0 0 0.5rem;
  shape-outside: polygon(2% 46%,6% 23%, 53% 0%, 100% 0, 100% 100%, 60% 100%, 32% 76%, 24% 84%, 11% 81%, 11% 70%, 4% 62%);
}


#reaction-illustration {
  width: 47%;
  margin: 0.5rem 0 0.5rem 2rem;
  float: right;
  shape-outside: polygon(100% 0, 100% 100%, 72% 100%, 53% 92%, 4% 40%, 4% 13%, 23% 2%);
}

#attribution-illustration {
  width: 50%;
  margin: 1rem 0 0.5rem 1.5rem;
  float: right;
  shape-outside: polygon(0 0, 100% 0, 100% 100%, 66% 100%, 0% 54%);
}

#research-illustration {
  width: 50%;
  margin: 1rem 0 0.5rem 2rem;
  float: right;
  shape-outside: polygon(8% 10%, 31% 6%, 64% 0, 100% 0, 100% 99%, 27% 74%, 5% 58%, 5% 42%);
}
#prevention-illustration {
  width: 46%;
  margin: 0.5rem 0 0.5rem 2rem;
  float: right;
  shape-outside: polygon(41% 13%, 41% 0, 100% 0, 100% 70%, 101% 100%, 80% 100%, 67% 92%, 41% 75%, 6% 59%, 6% 13%);
}
