html,
body {
	font-family: 'Open Sans', serif;
}

body {
	background: #FFF;
}

.landing .container {
	max-width: 1024px;
}

.landing a,
.landing a.navbar-item {
	color: #512DA8;
}

.landing a:hover,
.landing a.navbar-item:hover {
	color: #da0087;
}

.separator {
	position: relative;
	display: inline-block;
	margin: 0 0.5em;
}

.separator:before {
	content: ' ';
	position: absolute;
	width: 1px;
	height: 50%;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0,0,0, 0.2);
}

.flag {
	height: 1em;
}

.landing .hero {
	min-height: 75vh;
}

.landing .hero-head .logo {
	position: absolute;
	height: 5em;
	width: auto;
	top: 15px;
	left: 15px;
	border-radius: 2px;
}

@media screen and (max-width: 1088px) {
	.landing .hero-head .logo {
		height: calc(3.25rem - 15px);
	}
}

.landing .hero-body {
	display: flex;
	align-items: center;
}

.landing .hero-body .title {
	font-size: 3em;
	font-weight: 900;
	hyphens: auto;
	color: #3A0057;
}

@media screen and (max-width: 420px) {
	.landing .hero-body .title {
		font-size: 2.75em;
	}
}

.landing .hero-body .subtitle {
	font-weight: 300;
	font-size: 1.5em;
	color: #000;
}

.landing .hero-body .description {
	line-height: 1.5;
	margin-bottom: 1em;
}

.landing .section {
	padding: 6rem 1.5rem;
}

.our-vision {
	background-color: #EFF1F9;
	clip-path: polygon(0 0, 100% 2em, 100% calc(100% - 1.5em), 0 100%);
}

.our-vision .our-vision-title {
	color: #1E225B;
}

.our-vision .our-vision-title .thin {
	font-weight: 300;
}

.our-vision p {
	margin-bottom: 1em;
	color: #000;
}

.our-vision .logo {
	padding: 3rem;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.our-vision .logo {
		max-width: 400px;
	}
}

@media screen and (max-width: 420px) {
	.our-vision .logo {
		padding:1.5rem;
	}
}

.our-work {
	background-color: #f9f8f6;
	clip-path: polygon(0 2em, 100% 0, 100% calc(100% - 1.5em), 0 100%);
}

.our-work .our-work-title.title {
	margin-bottom: 3rem;
	color: #3A0057;
	font-variant: all-petite-caps;
}

.our-work .work-item .title {
	font-weight: 700;
	text-transform: uppercase;
	hyphens: auto;
}

.our-work .work-item .title .thin {
	font-weight: 200;
}

.our-work .work-item-column {
	display: flex;
}

.our-work .work-item {
	background: #512DA8;
	color: #FFF;
	padding: 3em;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

@media screen and (max-width: 420px) {
	.our-work .work-item {
		padding:2em;
	}
}

.our-work .work-item .title {
	color: #FAFAFA;
}

.our-work .work-item .subtitle {
	color: #FFF;
	font-variant: all-small-caps;
}

.our-work .work-item a,
.our-work .work-item a.navbar-item {
	color: #dd5fad;
}

.our-work .work-item a:hover,
.our-work .work-item a.navbar-item:hover {
	color: #da0087;
}

.our-work .work-item .button {
	margin-top: 1.5em;
	min-width: 75%;
	color: #4934A2;
	font-weight: 400;
	text-transform: uppercase;
}

.landing .footer {
	background-color: #FFF;
	font-size: 80%;
}

.logo-footer {
	height: 5em;
	margin-top: 2em;
}
