html,body {
  font-family: 'Open Sans', serif;
}

body {
	background: #FFF;
}

.landing a,
.landing a.navbar-item {
	color: #512DA8;
}

.landing a:hover,
.landing a.navbar-item:hover {
	color: #da0087;
}

.landing .hero {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	min-height: 75vh;
}

.landing .hero-head .logo {
	position: absolute;
    height: 60px;
    width: auto;
	top: 15px;
	border-radius: 2px;
}

.landing .hero-body {
	display: flex;
	align-items: center;
}

.landing .hero-body .title {
	font-size: 3em;
	font-weight: 700;
}

.landing .hero-body .subtitle {
	font-weight: 300;
}

.our-work {
	background-color: #FAFAFA;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 0 2em;
}

.our-work .our-work-title.title {
	font-weight: 200;
	margin-bottom: 1.5em;
}

.our-work .work-item .title {
	font-weight: 700;
	text-transform: uppercase;
}

.our-work .work-item .title .thin {
	font-weight: 200;
}

.our-work .work-item {
	background: #512DA8;
	color: #FFF;
	padding: 3em;
	border-radius: 3px;
}

.our-work .work-item .title {
	color: #FAFAFA;
}

.our-work .work-item .subtitle {
	color: #FFF;
    font-variant: all-small-caps;
}

.our-work .work-item a,
.our-work .work-item a.navbar-item {
	color: #dd5fad;
}

.our-work .work-item a:hover,
.our-work .work-item a.navbar-item:hover {
	color: #da0087;
}

.our-work .work-item .button {
	margin-top: 1.5em;
	min-width: 10em;
	color: #4934A2;
    font-weight: 400;
    text-transform: uppercase;
}

.landing .footer {
	background-color: #FFF;
	font-size: 80%;
}