---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

//Reset CSS
@import "./vendor/minireset.sass";

//Config 
@import "config.scss";

//Mixins
@import "./utils/mixins.scss";

//Base
@import "base.scss";

//Elements
@import "./elements/fonts.scss";
@import "./elements/inline.scss";
@import "./elements/links.scss";
@import "./elements/icons.scss";
@import "./elements/buttons.scss";
@import "./elements/title.scss";

//Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/hero.scss";
@import "./components/casestudies.scss";
@import "./components/vulnerabilities.scss";
@import "./components/actions.scss";
@import "./components/page.scss";
@import "./components/breadcrumb.scss";
@import "./components/summary.scss";
@import "./components/ctabloc.scss";