@mixin debug($size:1px, $color:red) {
	outline: 1px solid $color;
}

@mixin grid($colNumber, $gutterNumber) {
	$maxWidth: ($gridColWidth * $colNumber) + ($gridGutterWidth * $gutterNumber);
	width: 100%;
	max-width: $maxWidth;
}

@mixin responsiveMaxWidth($maxWidth) {
	@media only screen and (max-width: $maxWidth) {
		@content;
	}
}