<section class="vulnerabilities">
	<div class="vulnerabilities_content">
		<div class="vulnerabilities_intro">
			<h2 class="vulnerabilities_title">{{ site.data.translations.index.vulnerabilities.title[page.lang] }}</h2>
			<div class="vulnerabilities_subtitle chapo">{{ site.data.translations.index.vulnerabilities.subtitle[page.lang] }}</div>
		</div>
		<div class="vulnerabilities_items">
			{% for item in site.data.translations.index.vulnerabilities.items %}
				<div class="vulnerabilities_item">
					<h3 class="vulnerabilities_item_title">{{ item.title[page.lang] }}</h3>
					<p class="vulnerabilities_item_desc">{{ item.desc[page.lang] }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="vulnerabilities_itemsinfo">
			{{ site.data.translations.index.vulnerabilities.items-context[page.lang] }}
		</div>
		<div class="vulnerabilities_desc">
			{{ site.data.translations.index.vulnerabilities.desc[page.lang] }}
		</div>
	</div>
</section>