@font-face {
	font-family: 'Marianne';
	src: url('../../assets/fonts/Marianne-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Marianne-Regular.woff') format('woff');
}

@font-face {
	font-family: 'MarianneBold';
	src: url('../../assets/fonts/Marianne-Bold.woff2') format('woff2'),
		url('../../assets/fonts/Marianne-Bold.woff') format('woff');
}

.font-marianne {
	font-family: 'Marianne', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

.font-mariannebold {
	font-family: 'MarianneBold', arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}