.form{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}

input, select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	display: block;
    width: 100%;
    border: 0;
    border-radius: .285714286rem .285714286rem 0 0;
    font-size: 1.4rem;
    @extend .font-mariannebold;
    padding: 12px 16px;
    color: $color-g800;
    background-color: $color-g200;
	box-shadow: inset 0 -2px 0 0 $color-g800;
	margin-top: 4px;
}

input[type="submit"]{
	border: none;
	padding: 12px 16px;
	font-size: 1.6rem;
	cursor: pointer;
}

label{
	display: block;
    font-size: 1.4rem;
    color: $color-g800;
}

select{
    background-repeat: no-repeat;
    background-position: calc(100% - .571428571rem) 50%;
    background-size: 1.714285714rem 1.714285714rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' %3E%3Cpath fill='%231e1e1e' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/%3E%3C/svg%3E%0A");
}

.form_field{
	margin:20px 10px 0 10px;
	@include grid(3, 2);

	&-big{
		@include grid(4, 4);
		width:calc(50% - 20px);
	}
	
	&-submit{
		width:auto;
		max-width: auto;
	}
	
	@include responsiveMaxWidth($bpTabletSmall){
		max-width: 100%;
		width: 100%;

		&-submit{
			order:5;
		}
	}
}

