.chapo {
	font-size: 2.4rem;
	line-height: 1.5;
	color: $color-g700;

	@include responsiveMaxWidth($bpTabletSmall) {
		font-size: 2rem;
	}
}

.text-lg {
	color: $color-g700;
	font-size: 2rem;
	line-height: 2.8rem;
}

.text-sm {
	color: $color-g700;
	font-size: 1.4rem;
	line-height: 2.1rem;
}

strong,
bold {
	@extend .font-mariannebold;
}