h1{
	@extend .font-mariannebold;
	color: $color-g800;
	font-size: 4.8rem;
	line-height: 1.25;
}

h2{
	
}

h3{
	
}

h4{

}

.chapo{
	font-size: 2.4rem;
	line-height: 30px;
	color: $color-g700;
}