.breadcrumb {
	@extend .sectioncontainer;

	//Reset page content style
	ol {
		margin-left: 0;

		li{
			margin-top: 0;
		}
	}
}

.breadcrumb_items {
	@extend .sectioncontent;
	list-style-type: none;
	display: flex;
	margin-top: 16px;
	margin-left: 0;
}

.breadcrumb_item {
	font-size: 1.4rem;
	display: flex;
	align-items: center;
	color: $color-g600;

	&:not(:last-of-type) {
		margin-right: 8px;
	}

	&-iscurrent {}
}

.breadcrumb_item_link {
	
}

.breadcrumb_item_icon>svg {
	fill: $color-g600;
	width: 6px;
	height:9px;
	margin-top:8px;
	margin-left:8px;
}