.notification {
	padding: 32px;
	margin-top: 32px;
	text-align: center;

	&-error {
		color: $color-error;
		background-color: $color-pink-soft-200;
	}

	&-valid {
		color: $color-green-soft;
		background-color: $color-green-soft-200;
	}
}

.notification_content {}