.page{
	@extend .sectioncontainer;

	
}

.page_content{
	@extend .sectioncontent;
	@include grid(10,9);
	padding-top: 128px;
	padding-bottom: 128px;

	& > h1{
		text-align:center;
		@include grid(9,8);
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 128px;
	}

	& > h2{
		margin-top: 48px;
	}

	& > h3{
		margin-top: 36px;
	}

	& > p{
		margin-top: 20px;
	}
}