.summary {
	background-color: $color-g100;
	padding: 24px;
	margin-top: 24px;

	h3 {
		margin-top: 0;
	}

	ol {
		margin-top: 20px;
		margin-left: 20px;

		li {
			margin-top: 8px;

			ol {
				margin-top: 4px;
				margin-left: 20px;

				li {
					margin-top: 8px;
				}
			}
		}
	}
}

#markdown-toc {
	li::marker {
		color: $color-g600;
	}
}