.tool {
	border: 1px solid $color-g300;
	padding: $gridGutterWidth;
	margin-top: $gridGutterWidth;
	position: relative;
}

.tool_icon {
	position: absolute;
	right: $gridGutterWidth;
	top: $gridGutterWidth;

	>svg {
		width: 124px;
		height: 144px;
		fill: $color-g100;
	}
}

.tool_title{
	position:relative;
}

.tool_subtitle {
	margin-top: 12px;
	position: relative;
}

.tool_desc {
	margin-top: 20px;
	position: relative;

	p+p {
		margin-top: 20px;
	}
}

.tool_bottom {
	position: relative;
	margin-top: 20px;
	display: flex;
	align-items: center;

	@include responsiveMaxWidth($bpMobile) {
		align-items: flex-start;
		flex-wrap: wrap;
	}
}

.tool_sublink{
	@include responsiveMaxWidth($bpMobile) {
		width: 100%;
	}
	&+.tool_button{
		@include responsiveMaxWidth($bpMobile) {
			margin-top: 12px;
		}
	}
}

.tool_button {
	margin-left: auto;

	@include responsiveMaxWidth($bpMobile) {
		margin-left: 0;
		
	}
}