.vulnerabilities {
	@extend .sectioncontainer;
	background-color: $color-blue100;
}

.vulnerabilities_content {
	@extend .sectioncontent;
	padding-bottom: 128px;
	padding-top: 128px;
}

.vulnerabilities_intro {
	@include grid(8, 9);
	padding-left: $gridColWidth;

	@include responsiveMaxWidth($bpTablet) {
		max-width: 100%;
		padding-left: $gridGutterWidth;
	}
}

.vulnerabilities_subtitle {
	margin-top: 20px;
}

.vulnerabilities_items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: $gridGutterWidth;
	margin-top: 48px;

	@include responsiveMaxWidth($bpTablet) {
		grid-gap: $gridGutterWidth / 2;
		margin-top: 32px;
	}

	@include responsiveMaxWidth($bpTabletSmall) {
		grid-template-columns: 1fr 1fr;
	}

	@include responsiveMaxWidth($bpMobile) {
		grid-template-columns: 1fr;
	}
}

.vulnerabilities_item {
	padding: 48px 24px 24px 24px;
	display: flex;
	flex-direction: column;
	background-color: $color-white;
	border-bottom: 4px solid $color-blue;

	@include responsiveMaxWidth($bpTablet) {
		padding: 32px 24px 24px 24px;
	}
}

.vulnerabilities_item_desc {
	margin-top: 12px;
}

.vulnerabilities_itemsinfo {
	text-align: right;
	margin-top: 12px;

	@include responsiveMaxWidth($bpTablet) {
		@include grid(5, 4);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.vulnerabilities_desc {
	@extend .text-lg;
	@include grid(8, 9);
	padding-top: 48px;
	padding-left: $gridColWidth;

	@include responsiveMaxWidth($bpTablet) {
		max-width: 100%;
		padding-left: $gridGutterWidth;
	}
}