<!DOCTYPE HTML>
<html lang="{{ page.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<title>{{ page.htmlTitle | strip_html}}</title>
		{% if page.htmlDescription %}
		<meta name="description" content="{{ page.htmlDescription }}">
		{% endif %}

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		{% include header.html %}

		<main class="main">
			{{ content }}
		</main>

		{% include icons.svg %}

		{% include tracking.html %}

		{% include footer.html %}
		
	</body>
</html>
