<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
				{% if page.description %}
						<meta name="Description" content="{{ page.description }}">
				{% endif %}

				<title>Fight against disinformation</title>
				<link rel="stylesheet" href="{{ "/assets/css/landing.css" | absolute_url }}">
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">

				<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>

	<body class="landing">
		{{ content }}
	</body>
</html>
